<% if (theme.visit_counter) { %>
	<!-- <span id="busuanzi_container_site_uv" title="<%= __('post.site_uv') %>" style='display:none'>
    <i class="icon icon-hourglass-start"> <span id="busuanzi_value_site_uv"></span></i>
    </span>    mod -->
    <span id="busuanzi_container_site_pv" title="<%= __('post.site_pv') %>" style='display:none'>
    <i class="icon icon-heart">  <span id="busuanzi_value_site_pv"></span></i>
    </span>
<% } %>
